---
import Layout from '../layouts/Layout.astro';
import Navigation from '../components/Navigation';
import CurvyBackground from '../components/CurvyBackground';
import Project from '../components/sections/Project.astro';
import About from '../components/sections/About.astro';
import UpcomingDates from '../components/sections/UpcomingDates.astro';
import PastEvents from '../components/sections/PastEvents.astro';
import Contact from '../components/sections/Contact.astro';
import { cn } from '../lib/utils';
import InitialBanneer from '../components/InitialBanneer';
import { hasUpcomingDates } from '../lib/infos';

let i = 0;
const alternateLeftRight = () => i++ % 2 === 0;

const upcomingDates = hasUpcomingDates();
---

<Layout title="Savant Mélange - Théâtre d'Improvisation">
	<CurvyBackground client:load />
	<Navigation client:load />
	
	<main class={cn(
		"w-full overflow-x-hidden",
		"relative z-10",
		"flex flex-col items-center",
	)}>
		<InitialBanneer client:load />

		<section class={cn(
			"w-full",
			"flex flex-col items-stretch",
			"mx:auto max-w-5xl",
			"px-4 md:px-8",
			"gap-14 lg:gap-20"
		)}>
			<Project leftToRight={alternateLeftRight()} />
			<About leftToRight={alternateLeftRight()} />
			{upcomingDates && <UpcomingDates leftToRight={alternateLeftRight()} />}
			<PastEvents leftToRight={alternateLeftRight()} />
			<Contact leftToRight={alternateLeftRight()} />
		</section>
		

		<footer class={cn(
			"text-center text-accent2 font-bold py-5",
			"mt-[10vh] md:mt-[20vh] lg:mt-[30vh]"
		)}>
			<p>&copy; {new Date().getFullYear()} Savant Mélange. Tous droits réservés.
				<a href="/mentions-legales" class="underline hover:text-white">Mentions Légales</a>
			</p>
		</footer>
	</main>
</Layout>
